<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Find Foods | Temukan Restoran Favoritmu</title>
    <link rel="manifest" href="./app.webmanifest">

    <!-- IMPORT FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <!-- IMPORT ICON -->
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap">
    
    <!-- IMPORT ICON STAR & FAVORITE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body>
    <skip-link-element></skip-link-element>
    <header>      
      <app-bar></app-bar>
    </header>

    <main id="mainContent" tabindex="0"></main>

    <footer>
      <footer-element></footer-element>
    </footer>
  </body>
</html>
