<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Find Foods | Temukan Restoran Favoritmu</title>

    <!-- IMPORT FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <!-- IMPORT MATERIAL ICON -->
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap">
  
    <!-- IMPORT ICON STAR (Rating) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body>
    <a href="#main-content" class="skip-link">Menuju ke konten <span class="material-icons" aria-hidden="true">skip_next</span></a>
    <header>      
      <app-bar></app-bar>
    </header>

    <div class="hero" aria-label="">
      <div class="hero_background">
        <div class="hero_content">
          <h1>Temukan Restoran Favoritmu hanya di <span class="brand-color">Find Foods</span></h1>
          <p>Find Foods memberikan rekomendasi Restoran terfavorit dengan harga yang terjangkau.</p>
        </div>
      </div>
    </div>

    <main id="main-content">
      <section class="recommendation">
        <h2 class="label_section">Rekomendasi Restoran</h2>
        <div class="recommendation-container"></div>
      </section>

      <section class="explore">
        <h2 class="label_section">Telusuri Restoran</h2>
        <div class="explore-container"></div>
      </section>
    </main>

    <footer>
      <p>Copyright &copy; 2022 - <span class="brand-color">Find Foods</span> by Tegar Naufal Hanip</p>
    </footer>
  </body>
</html>
