.hero {
  width: 100%;
  position: relative;
  height: 380px;
  
  img {
    width: 100%;
    perspective: 4px;
    object-fit: cover;
    height: 380px;
    filter: blur(2px);
  }

  .content-container {
    width: 100%;
    height: 100%;
    top: 0;
    color: white;
    position: absolute;
    display: flex;
    background-color: rgba(0,0,0,0.6);  

    .hero_content {
      padding: 0 50px;
      font-size: 15px;
      color: white;
      text-align: center;
      margin: auto;
      
      h1, p {
        margin-bottom: 15px;
      }
  
      @include media-in(mobile) {
        font-size: 16px;
        padding: 0 100px;
      }
  
      @include media-in(tablet) {
        font-size: 18px;
      }
  
      @include media-in(desktop) {
        font-size: 20px;
      }
    }
  }
}