.favorite-button {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  
  position: fixed;
  bottom: 76px;
  right: 16px;
  border-radius: 50%;
  
  font-size: 18px;
  color: black;
  transition: 0.3s;
  cursor: pointer;

  &:active {
    background-color: var(--PrimaryDark);
  }

  &:focus {
    background-color: var(--primarySemiDark);
  }
}





